@charset "UTF-8";

/* Estilo Para Telas */

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

header {
  background-color: lightblue;
}

header > h1 {
  text-align: center;
}

menu ul {
  list-style: none;
  background-color: lightcyan;
}

menu li {
  display: inline-block;
  background-color: cyan;
  color: white;
  padding: 10px;
}

article {
  display: block;
  margin: 0 auto;
  width: 600px;
}
